nav {
    background-color: #212738;
}

       nav ul {
    list-style-type: none;
    margin-right: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    
}

ul li a:hover {
    background-color: #111;
}


.first{
    float:right;
}

aside{
    width:15%;
    background-color: lavender;
text-align:center;
height:fit-content;
float:left;
margin-top:15px;

}

img{
    float:right;
    padding-top: 50px;
    margin-right: 150px;
}