nav {
    background-color: #212738;
}

       nav ul {
    list-style-type: none;
    margin-right: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    
}

ul li a:hover {
    background-color: #111;
}

img{
    float:right;
    padding-right: 1000px;
    padding-top:50px;
}

h2{
    float:right;
    padding-right: 100px;
    padding-top:50px;
}

p{
    float:right;
    padding-right: 100px;
    padding-top:50px;
}

.container { 
    text-align: center;
   
    padding-top:500px;
}